In [ ]:
## convert a given string to int using a single line of code

In [ ]:
a = "10"
type(a)

In [ ]:
a = int(a)
type(a)

In [ ]:
string = "my name is rajan rai:"
str_list = list(string)

In [ ]:
type(str_list)

In [ ]:
string = "my name is rajan rai"
reverse = string[::-1]
print(reverse)

In [ ]:
string = "my name is rajan rai"
reverse = string[::-1]
print(reverse)

In [ ]:
my_list = [10,9,8,7,6,5,4,3,2,1]
my_list.sort()

In [ ]:
import os

In [ ]:
lst = [1,2,3,4,5,6,7,8,9]
lst[0:3]

In [ ]:
lst[-1:]

In [ ]:
lst[::-1]

In [ ]:
lst[:-4]

In [ ]:
lst.remove(2)

In [ ]:
def factorial(a):
    if a==0:
        return 1
    else:
        return(a*factorial(a-1))

In [ ]:
factorial(3)

In [ ]:
numbers = [2,3,4,5,7,12,45]
max(numbers)

In [ ]:
string = "hello,world!"
reverse = string[::-1]
print(reverse)

In [ ]:
def count_frequency(numbers):
    frequency = {}
    for num in numbers:
        if num in frequency:
            frequency[num]+=1
        else:
            frequency[num] = 1
    return frequency

In [ ]:
num = [1,2,3,4,5,6,7,8,9,2,3,5,4,9,7]
frequency_count = count_frequency(num)
print(frequency_count)

In [ ]:
def count_frequency(numbers):
    frequency = {}
    for num in numbers:
        if num in frequency:
            frequency[num]+=1
        else:
            frequency[num]=1
    return frequency

In [ ]:
lst = [1,2,3,4,5,6,2,3,4,5,7,78,91,2,3,44,5,6]
count_frequency(lst)

In [ ]:
num = int(input("enter the numbers:"))
for i in range(2,num):
    if num%i==0:
        print("this number is not a prime number")
else:
    print("this numbers is a prime number")

In [ ]:
def common_element(list1,list2):
    common_element = []
    for item in list1:
        if item in list2:
            common_element.append(item)
    return common_element

In [ ]:
lst1 = [2,3,4,5,6,7,8]
lst2 = [2,4,3,5,6,7,1]
common_element(lst,lst2)

In [ ]:
def remove_duplicates(numbers):
    unique_numbers = []
    for num in numbers:
        if num not in unique_numbers:
            unique_numbers.append(num)
    return unique_numbers

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,3,4,5,6,7,8]
unique_number = remove_duplicates(numbers)
print(unique_number)

In [ ]:
import decimal
integer = 10
print(decimal.Decimal(integer))
print(type(decimal.Decimal(integer)))

In [ ]:
string = '12345'
print(decimal.Decimal(string))
print(type(decimal.Decimal(string)))

In [ ]:
string = "hello,world!,my name is roffers"
reverse = string[::-1]
print(reverse)

In [ ]:
vowels = ['a','i','o','u','e']
words = "python programming"
count = 0
for character in words:
    if character in vowels:
        count+=1
print(count)

In [ ]:
vowels = ['a','i','o','e','u']
word = "programming"
count = 0
for character in word:
    if character in vowels:
        count+=1
print(count)

In [ ]:
vowels = ['a','i','o','e','u']
words = "python programming"
count = 0
for character in words:
    if character not in vowels:
        count+=1
print(count)

In [1]:
a = 0
b = 1
num = int(input("enter the number:"))
if num==1:
    print(a)
else:
    print(a)
    print(b)
for i in range(1,num+1):
    c = a+b
    a = b
    b = c
    print(c)

enter the number:4
0
1
1
2
3
5

In [2]:
lst = [2,3,4,5,6,7,8,9,9,10]
lst_new = max(lst)
print(lst_new)

10

In [3]:
lst = [2,3,4,5,6,7,8,9,9,10]
min(lst)

2

In [6]:
lst = [2,3,4,5,6,7,8,9,10]
print(int(len(lst)/2))

4

In [7]:
### convert list into string
lst = ['a','b','d','w','e','f','s']
string = ' '.join(lst)
print(type(string))

<class 'str'>

In [11]:
lst1 = [2,3,4,5,6]
lst2 = [3,4,5,6,7]
res_lst = []
for i in range(0,len(lst1)):
    res_lst.append(lst1[i]+lst2[i])
print(res_lst)

[5, 7, 9, 11, 13]

In [12]:
lst1 = [2,3,4,5,6,7]
lst2 = [3,4,5,7,8,2]
res_lst = []
for i in range(0,len(lst1)):
    res_lst.append(lst1[i]+lst2[i])
print(res_lst)

[5, 7, 9, 12, 14, 9]

In [14]:
print(len(lst1)+len(lst2))

12

In [19]:
rows = int(input("enter the numbers:"))
for i in range(rows):
    for j in range(1,i+1):
        print("*",end = " ")
    print("")
    for k in range(1,i+2):
        print(" ")

enter the numbers:3


*


* *

In [20]:
rowss = 5
for i in range(rows+1):
    for j in range(1,i+1):
        print("*" , end = " ")
    print(" ")

*
* *
* * *